body {
    text-align: left;
    text-align-last: left;
    -webkit-font-smoothing:subpixel-antialiased !important;font-family:'PingFang SC'
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.nav-bar {
    font-size: 120%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-link {
    padding-left: 5em;
    padding-right: 5em;
}

ul.toc {
    line-height: 200%;
    font-size: 150%;
}

span.Constant {
    color: #0086b3;
}

span.Special {
    color: #c06000;
}

span.Comment {
    color: #969896;
}

span.Identifier {
    color: #199f4b;
}

span.PreProc {
    color: DarkMagenta;
}

span.Type {
    color: #ed6a43;
}

span.Statement {
    color: #a71d5d;
}

span.Keyword, span.Repeat, span.Conditional,
span.Operator, span.Exception
{
    color: #4078c0;
}

span.Todo {
    color: #333;
    background-color: #f8cbcb;
}

span.Underlined {
    text-decoration: underline;
}

span.linkable {
    font-weight: bold;
}

code {
    color: #333;
    line-height: 130%;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    counter-reset: item;
}

code ol {
    counter-reset: item;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

code li {
    display: block;
    padding-left: 60px;
    position: relative;
}

code li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #999;
    position: absolute;
    padding-right: 0.5em;
    padding-left: 0.5em;
    list-style-position: inside;
    left: 0;
    text-align: right;
    width: 2%;
}
